#div_input input{
    width: 195px;
    height: 25px;
    border-radius: 20px;
}
#div_input button{
    width: 105px;
    height: 25px;
    border-radius: 20px;
}
#tabela{
    position: absolute;
    top: 8%;
    left: 60%;
    width: 500px;
    
}
#tabela{
    background-color: white;
}
#preco{
    position: absolute;
    top: 80%;
}
#preco label{
   font-size: 15pt;
}
body{
    background-color: rgba(255, 255, 0, 0.651);
}
#finalizar{
    position: absolute;
    top: 96%;
}
img{
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    top: 25%;
    left: 20%;
}
