<<<<<<< HEAD
#div_input input{
    width: 195px;
    height: 25px;
    border-radius: 20px;
}
#div_input button{
    width: 105px;
    height: 25px;
    border-radius: 20px;
}
#tabela{
    position: absolute;
    top: 8%;
    left: 60%;
    width: 500px;
    
}
#tabela{
    background-color: white;
}
#finalizar{
=======
#tabela {
    background-color: blue;
    width: 100px;
}
table{
    box-shadow: 5px 5px 10px black;
}
button{
    border: none;
    border-radius: 8px;
}
input{
    border: none;
    border-radius: 8px;
}
.delete{
    background-color: red;
}
.delete:hover{
    background-color: white;
}
#center {
    background-color: #E6DF60;
>>>>>>> 8e38be72e41051868815c12e5bf55f30e1cd4855
    position: absolute;
    top: 95%;
    border-radius: 20px;
    width: 105px;
    height: 25px;
}
#preco{
    position: absolute;
    top: 80%;
}
#preco label{
   font-size: 15pt;
}
<<<<<<< HEAD
body{
    background-color: rgba(255, 255, 0, 0.651);
}
img{
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    top: 25%;
    left: 20%;
=======
body {
    background-color: #E0D51B;
>>>>>>> 8e38be72e41051868815c12e5bf55f30e1cd4855
}
