body{
    background-color: white;
}
#login{
width: 300px;
height: 260px;
background-color: #E0D51B;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 10px;
box-shadow: 5px 5px 5px black;
}
#img{
margin-top: 10PX;
margin-left: 50px;
border-radius: 100px;
}
#login input{
    width: 195px;
    margin-top: 10px;
    height: 25px;
    border-radius: 5px;
    border: none !important;
}

#matricula{
margin-left: 18px;
height: 25px;
}

#senha{
margin-left: 30px;
width: 193px;
}

#butao{
margin-top: 50px;
margin-left: 110px;
width: 100px;
border-radius: 10px;
border:none!important;
height: 30px;

}
h1{
    text-align: center;
}
hr{
    width: 250px;
    height: 1px;
}